.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: fit-content;
    transition: background 250ms;
    background-color: var(--app-background-color);
    top: 0;
    right: 0;
    box-shadow: 0 4px 4px rgb(13 150 239 / 10%);
    &-content{
      height: 108px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 72px;
      transition: height 250ms;
      &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .logo{
          margin-right: 42px;
        }
      }
    }
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
  }
  
  .primary-navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .primary-navigation li {
    margin: 0 10px;
    position: relative;
  }
  
  .primary-navigation li a {
    text-decoration: none;
    /* color: #333; */
    font-weight: 500;
    cursor: pointer;
  }
  
  .selected-tab a {
    color: #007bff;
  }
  
  .header-line {
    display: block;
    height: 2px;
    background-color: #007bff;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    visibility: hidden;
  }
  
  .selected-tab .header-line {
    visibility: visible;
  }
  
  .secondary-navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .provider-logo {
    height: 30px;
  }
  