.collection {
  padding: 120px 32px 32px; // leave room for navbar
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  &-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    .css-loader {
      width: 60px;
      height: 60px;
      border: 3px solid #feda4a;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: loader 1s linear infinite;
    }

    @keyframes loader {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
    }
  }
}

.page-title {
  color: #feda4a;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

.retry-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.retry{
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
  width: 70%;
  justify-content: center;


  .filter-input {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: var(--filter-background-color);
    color: var(--filter-text-color, #b0bec5);
    font-size: 1rem;
    outline: none;

    @media only screen and (max-width: 850px) {
      max-width: 120px;
    }

    &::placeholder {
      color: #999;
    }

    &:focus {
      border-color: var(--focus-border-color);
    }
  }
}

.card-skeleton {
  background-color:var(--skeleton-background-color, #1d1d1d);
  height: 248px;
  border-radius: 12px;
  animation: pulse 1.4s ease-in-out infinite;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

body.dark-theme .card-skeleton {
  background-color: #333;
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.pagination-toggle {
  display: flex;
  align-items: center;
 /*  margin: 1rem 0; */

  .switch-with-label {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 36px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #eb212e;
      border-radius: 34px;
      transition: background-color 0.4s;

      &::before {
        content: '';
        position: absolute;
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 5px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.4s;
        z-index: 2;
      }

      .label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        font-size: 0.8rem;
        color: white;
        z-index: 1;
        transition: left 0.4s, right 0.4s;
        font-size: 10px;
      }

      .label.scroll {
        left: 12px;
      }

      .label.next {
        right: 12px;
      }
    }

    input:checked + .slider {
      background-color: #007bff;
    }

    input:checked + .slider::before {
      transform: translateX(44px);
    }
  }
}




.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;

  button {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background: var(--button-bg);
    color: var(--button-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

.options-container{
  display: flex;
  width: 100%;
  justify-content: center;
  @media only screen and (max-width: 850px) {
    justify-content: flex-start;
  }
}

.pagination-title{
  font-size: 12px;
}
