@use './styles/layout/breakpoints' as bp;

/* Light mode (default) */
body {
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  a{
    color: black;
  }
  h1{
    color: black;
  }
}

:root {
  --focus-border-color: #007bff;
  --app-background-color: white;
  --card-background-color: #f4f4f4;
  --filter-background-color: #f4f4f4;
  --filter-text-color: #111;
}

/* Dark mode */
body.dark-theme {
  --focus-border-color: #e53935;
  --app-background-color: #121212;
  --card-background-color: #1a1a1a;
  --filter-background-color: #1a1a1a;
  --filter-text-color: #b0bec5;
  background-color: #121212;
  color: white;
  a{
    color: white;
  }
  h1{
    color: white;
  }

  .navbar{
    box-shadow: 0 8px 8px rgb(239 13 13 / 10%);;
  } 

  .header-line {
    background-color: #EB212E;
  }

  .selected-tab a {
    color: #EB212E !important;
  }

  .card{
    /* box-shadow: 0 4px 8px rgb(255 0 0 / 30%); */

    &:hover{
      box-shadow: 0 4px 8px rgb(255 0 0 / 30%);
    }
  }

  .filter-input {
    &:focus {
      border-color: rgb(255 0 0 / 30%);
    }
  }
}
  
