.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 108px); // account for navbar
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #feda4a;
    }

    p {
        font-size: 1.2rem;
        color: #555;
    }

    body.dark-theme & {
        p {
        color: #ccc;
        }
    }
}
  